<div class="row">
  {{#if loginError}}
    <div class="reg-err"><p>{{loginError}}</p></div>
  {{/if}}
  <div id="login" class="col s6 offset-s3">
    <h1>Изменение пароля</h1>
    <form action="/auth/password" method="post">
      <div class="input-field">
        <input id="password" type="password" class="validate" name="password" required="required">
        <label for="password">Введите новый пароль</label>
        <span class="helper-text" data-error="Введите пароль:"></span>
      </div>
      <input type="hidden" name='_csrf' value='{{csrf}}'>
      <input type="hidden" name='userId' value='{{userId}}'>
      <input type="hidden" name='token' value='{{token}}'>
      <button class="btn btn-primary" type="submit">Обновить пароль</button>
    </form>
  </div>
</div>